main{
  font-size: 15pt;
  background-color: #F6F3E7;
  overflow-x: hidden;
}



.center{
  position: center;
  text-align: center;
}

.doublePage{
  display: block;
 
}
.nodisplay{
  flex: 1; 
  display: block; 
  padding: 10pt; 
  flex-direction: column;
}

/*Change this to make font across the page smaller*/

@media only screen and (max-width: 400px) { /*550*/
  main{
    font-size: 9pt; 

  }
  .nodisplay{
    display: none; 
  }

}



